apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault
  namespace: argocd
spec:
  project: default
  sources:
  
  - repoURL: "{{ chart_repo }}"
    targetRevision: master
    path: "{{ chart_path }}"
    helm:
      valueFiles:
        - $config/{{ values_path }}

  - repoURL: "{{ app_repo }}"
    targetRevision: master
    ref: config

  destination:
    server: https://kubernetes.default.svc
    namespace: vault

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: 30s
        factor: 2
        maxDuration: 3m 
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - PrunePropagationPolicy=foreground